In [1]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('CustomersDataset.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [2]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [3]:
# step 1 : check for null values 
#________________________________________________
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [4]:
# step 2 : check for wrong format values
# replace all wrong formatted data to No 
#_______________________________________________________
df = df.replace(['No phone service','No internet service'],'No')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
# step 3 
#________________________________________
# 1- convert data type of columns to suitable datatypes 
df['TotalCharges'] = pd.to_numeric(df.TotalCharges, errors='coerce') # set all non numeric values to numeric 
df['TotalCharges'] = df['TotalCharges'].astype(float) # convert data type of TotalCharges column to float

In [7]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [8]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [9]:
# 2 found null values then clean it 
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [11]:
df.shape

(7032, 21)

In [12]:
# step 4 remove duplicates
df.drop_duplicates(inplace = True)

In [13]:
df.shape

(7032, 21)

In [14]:
# 3 check for data in columns 
df.SeniorCitizen.unique()

array([0, 1], dtype=int64)

In [15]:
df.Partner.unique()

array(['Yes', 'No'], dtype=object)

In [16]:
df.Dependents.unique()

array(['No', 'Yes'], dtype=object)

In [17]:
df.PhoneService.unique()

array(['No', 'Yes'], dtype=object)

In [18]:
df.MultipleLines.unique()

array(['No', 'Yes'], dtype=object)

In [19]:
df.Contract.unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [20]:
df.PaymentMethod.unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [21]:
df.InternetService.unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [22]:
# step 5 categoral data
#_________________________________________________________________________________
df.Contract = pd.Categorical(df.Contract , ['Month-to-month','One year','Two year'],ordered=True)
df.Contract = df.Contract.cat.codes

df.gender = pd.Categorical(df.gender , ['Male','Female'],ordered=True)
df.gender = df.gender.cat.codes

df.PaymentMethod = pd.Categorical(df.PaymentMethod , ['Electronic check','Mailed check','Bank transfer (automatic)','Credit card (automatic)'] ,ordered=True)
df.PaymentMethod = df.PaymentMethod.cat.codes

df.InternetService = pd.Categorical(df.InternetService , ['DSL','Fiber optic', 'No'] ,ordered=True)
df.InternetService = df.InternetService.cat.codes

In [23]:
df.dtypes

customerID           object
gender                 int8
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService        int8
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract               int8
PaperlessBilling     object
PaymentMethod          int8
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [24]:
del df['customerID']

In [25]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,Yes,No,1,No,No,0,No,Yes,No,No,No,No,0,Yes,0,29.85,29.85,No
1,0,0,No,No,34,Yes,No,0,Yes,No,Yes,No,No,No,1,No,1,56.95,1889.50,No
2,0,0,No,No,2,Yes,No,0,Yes,Yes,No,No,No,No,0,Yes,1,53.85,108.15,Yes
3,0,0,No,No,45,No,No,0,Yes,No,Yes,Yes,No,No,1,No,2,42.30,1840.75,No
4,1,0,No,No,2,Yes,No,1,No,No,No,No,No,No,0,Yes,0,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,Yes,Yes,24,Yes,Yes,0,Yes,No,Yes,Yes,Yes,Yes,1,Yes,1,84.80,1990.50,No
7039,1,0,Yes,Yes,72,Yes,Yes,1,No,Yes,Yes,No,Yes,Yes,1,Yes,3,103.20,7362.90,No
7040,1,0,Yes,Yes,11,No,No,0,Yes,No,No,No,No,No,0,Yes,0,29.60,346.45,No
7041,0,1,Yes,No,4,Yes,Yes,1,No,No,No,No,No,No,0,Yes,1,74.40,306.60,Yes
7042,0,0,No,No,66,Yes,No,1,Yes,No,Yes,Yes,Yes,Yes,2,Yes,2,105.65,6844.50,No

In [26]:
#Convert all columns have Yes or No to 0 and 1
df = df.replace(to_replace = ['Yes','No'],value = ['1','0'])

In [27]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,29.85,29.85,0
1,0,0,0,0,34,1,0,0,1,0,1,0,0,0,1,0,1,56.95,1889.50,0
2,0,0,0,0,2,1,0,0,1,1,0,0,0,0,0,1,1,53.85,108.15,1
3,0,0,0,0,45,0,0,0,1,0,1,1,0,0,1,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,0,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,24,1,1,0,1,0,1,1,1,1,1,1,1,84.80,1990.50,0
7039,1,0,1,1,72,1,1,1,0,1,1,0,1,1,1,1,3,103.20,7362.90,0
7040,1,0,1,1,11,0,0,0,1,0,0,0,0,0,0,1,0,29.60,346.45,0
7041,0,1,1,0,4,1,1,1,0,0,0,0,0,0,0,1,1,74.40,306.60,1
7042,0,0,0,0,66,1,0,1,1,0,1,1,1,1,2,1,2,105.65,6844.50,0

In [28]:
df.dtypes

gender                 int8
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService        int8
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract               int8
PaperlessBilling     object
PaymentMethod          int8
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [30]:
df['Partner'] = df['Partner'].astype(int)
df['Dependents'] = df['Dependents'].astype(int)
df['PhoneService'] = df['PhoneService'].astype(int)
df['MultipleLines'] = df['MultipleLines'].astype(int)
df['OnlineSecurity'] = df['OnlineSecurity'].astype(int)
df['OnlineBackup'] = df['OnlineBackup'].astype(int)
df['DeviceProtection'] = df['DeviceProtection'].astype(int)
df['TechSupport'] = df['TechSupport'].astype(int)
df['StreamingTV'] = df['StreamingTV'].astype(int)
df['PaperlessBilling'] = df['PaperlessBilling'].astype(int)
df['PaperlessBilling'] = df['PaperlessBilling'].astype(int)
df['Churn'] = df['PaperlessBilling'].astype(int)
df['StreamingMovies'] = df['PaperlessBilling'].astype(int)

In [32]:
df.dtypes

gender                 int8
SeniorCitizen         int64
Partner               int32
Dependents            int32
tenure                int64
PhoneService          int32
MultipleLines         int32
InternetService        int8
OnlineSecurity        int32
OnlineBackup          int32
DeviceProtection      int32
TechSupport           int32
StreamingTV           int32
StreamingMovies       int32
Contract               int8
PaperlessBilling      int32
PaymentMethod          int8
MonthlyCharges      float64
TotalCharges        float64
Churn                 int32
dtype: object

In [33]:
 df.to_csv('output_without_scaling.csv')